#logo {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  display: block;
  filter: invert(100%);
}

/* 5A0001 - dark red */
/* CC2425 - bright red */

* {
  background-color: black;
  color: white;
}

nav {
  border-bottom: 5px white;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 30px;
  padding-right: 200px;
  padding-left: 200px;
}

a:active {
  color: #ff0000;
}

#navLinks {
  padding: 8px;
  border-radius: 30%;
  font-family: Kanit;
  color: black;
  list-style-type: none;
  font-size: x-large;
}

#mainVid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}

footer {
  color: white;
  position: fixed;
  bottom: 0;
  font-family: Kanit;
  padding-left: 0%;
  width: 100%;
  text-align: center;
}

footer > ul > li {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

h1 {
  font-family: Kanit;
  display: flex;
  padding-top: 25px;
  justify-content: space-evenly;
}

#aboutP {
  font-family: Kanit;
  padding-left: 10%;
  padding-right: 10%;
  font-size: larger;
  text-align: center;
}

#row {
  display: flex;
}

div.column {
  flex: 33.33%;
  padding: 5px;
}

#eventDiv {
  display: flex;
  justify-content: space-evenly;

}

#eventTable {
  margin: auto;
  font-family: Kanit;
  font-size: x-large;
  border-spacing: 10%;
}

/* #eventTable tbody {
  width: 100%;
  height: auto;
  margin: auto;
} */


#spotify {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  font-family: Kanit;
}

div.form {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: Kanit;
  height: 50%;
}

form > *{
  background-color: darkgray;
  height: 50%;
  color: black;
}

textarea {
  width: 150px;
  height: 150px;
  resize: none;
}

div.merch {
  text-align: center;
  font-family: Kanit;
  padding: 10px;
}

#merchContainer {
  display: flex;
  justify-content: center;
}

p.disclaimer {
  font-family: Kanit;
  text-align: center;
  margin-top: 10%;
}

#embed-iframe {
  margin-right: 20%;
  margin-left: 20%;
}

ul#episodes {
  float: left;
  margin:  0 10px;
  padding: 0;
  width: 20%;
}

ul#episodes > li {
  list-style-type: none;
}

button {
  border-radius:  7px;
  border: 0;
  background: rgb(56, 56, 56);
  color: white;
  padding:  10px;
  margin:  0 50px 3px 0;
  width: 80%;
  cursor: pointer;
}

button:hover {
  background: #ff0000;
}
