#logo {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  display: block;
  filter: invert(100%);
}

/* 5A0001 - dark red */
/* CC2425 - bright red */

* {
  background-color: black;
  color: white;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 30px;
  padding-right: 200px;
  padding-left: 200px;
  border-top: rgb(43, 0, 0) 3px solid;
}

a:active {
  color: #ff0000;
}

#navLinks {
  padding: 8px;
  border-radius: 30%;
  font-family: Kanit;
  color: black;
  list-style-type: none;
  font-size: x-large;
}

#mainVid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}

footer {
  color: white;
  position: fixed;
  bottom: 0;
  font-family: Kanit;
  width: 100%;
  text-align: center;
  border-top: rgb(43, 0, 0) 3px solid;
}

footer > ul > li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 4%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

h1 {
  font-family: Kanit;
  display: flex;
  padding-top: 25px;
  justify-content: space-evenly;
}

#aboutP {
  font-family: Kanit;
  padding-left: 10%;
  padding-right: 10%;
  font-size: larger;
  text-align: center;
}

/* #row {
  display: flex;
}

div.column {
  flex: 33.33%;
  padding: 5px;
} */

#eventDiv {
  display: flex;
  justify-content: space-evenly;

}

td {
  padding: 20px;
  border: solid white 3px;
  margin-right: 10px;
  text-align: center;
  background-color: rgb(43, 0, 0);
  text-align: center;
}

th {
  padding-right: 5em;
  padding-left: 5em;
}

#eventTable {
  /* margin: auto; */
  font-family: Kanit;
  font-size: x-large;
}

/* #eventTable tbody {
  width: 100%;
  height: auto;
  margin: auto;
} */


#spotify {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  font-family: Kanit;
}

div.form {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: Kanit;
  height: 50%;
  width: 40%;
  border: 3px solid rgb(43, 0, 0);
}

form > *{
  height: 50%;
}

textarea {
  width: 98%;
  height: 15vh;
  resize: none;
}

#formContainer {
  border: 3px rgb(43, 0, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2vh;
}

#formName {
  padding-bottom: 1vh;
}

#formContact {
  padding-bottom: 1vh;
}

#formButton {
  background: rgb(43, 0, 0);
  color: white;
  cursor: pointer;
  padding: 1vh;
}

#formButton:hover {
  background: #ff0000;
}

div.merch {
  text-align: center;
  font-family: Kanit;
  padding: 10px;
}

#merchContainer {
  display: flex;
  justify-content: center;
}

p.disclaimer {
  font-family: Kanit;
  text-align: center;
  margin-top: 10%;
}

#embed-iframe {
  margin-right: 20%;
  margin-left: 20%;
}

ul#episodes {
  float: left;
  margin:  0 10px;
  padding: 0;
  width: 20%;
}

ul#episodes > li {
  list-style-type: none;
  padding-left: 20%;
}

button.spotifyButton {
  border-radius:  7px;
  border: 0;
  background: rgb(43, 0, 0);
  color: white;
  padding:  10px;
  margin:  0 50px 3px 0;
  width: 80%;
  cursor: pointer;
}

button.spotifyButton:hover {
  background: #ff0000;
}

#picOne {
  background-image: url('./components/photos/e.jpg');
  background-size: cover;
  float: right;
}

#picTwo {
  background-image: url('./components/photos/s.jpg');
  background-size: cover;
}

#picThree {
  background-image: url('./components/photos/cornel.jpg');
  background-size: cover;
  float: right;
}

#picFour {
  background-image: url('./components/photos/d.jpg');
  background-size: cover;
}

div.picture {
  height: 45vh;
  width: 50%;
  text-align: center;
}

#column {
  text-align: center;
}

